body{
    font-family:'Varela Round', sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin:0;
}

.main{
    display:flex;
    flex-direction:column;
    height:500px;
    width: 800px;
    margin:100px auto;
    border-left: 2px solid $grey;
    background: url('../img/fondo.jpg');
    background-size: cover;
    
    .data{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
        height:300px;

    }
    .info{
        width:250px;
        padding: 10px;
    }
    header{
        background-color:$grey;
        color: $green;
        font-weight: 700;
        font-size:20px;
        padding-top:15px;
    }
}

.money-table{
    color: $grey;
    margin-top:25px;
    th{
        font-size:13px;
        padding: 0 8px;
    }
    td{
        font-size:22px;
        color:$yellow;
        font-weight:700;
        padding: 10px 0;
    }
    i{
        &:before{
        color:$grey;
        }
    }
}

h3{
    font-size:13px;
}

.big-button{
    width: 300px;
    margin: 25px;
    height:40px;
    border-radius: 20px;
    font-size:20px;
    font-weight:700;
    color:$yellow;
    background-color: transparent;
    box-shadow:  inset 0px 0px 15px 2px rgba(0,0,0,0.55);
    border: none;
    transition:background 1s ease;
    font-family: "Varela Round", sans-serif;
    &:hover{
        background-color: lighten($green,20);
        cursor: pointer;
        transition:background 1s ease;
        color:$grey;
    }
}

.totals{
    font-size: 28px;
    color: $green;
    font-weight: 700;
    background-color: #fff;
    box-shadow:  inset 0px 0px 3px 2px rgba(0,0,0,0.55);
    padding: 5px 25px;
    width:150px;
    border-radius:20px;
    height:35px;
    line-height:35px;
}